.create-student{
  background-color:lightskyblue;
  border-radius: 20px;
  border: 2px solid deepskyblue;
  padding: 10px;
}

.create-student .error{
  background-color: #c0392b;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.create-student h3{
  display: inline-block;
  border-bottom: 3px double black;
}